<section class="movie">
  <div class="summary">
    <h2>
      <%= @movie.title %>
    </h2>
    <h3>
      <%= total_gross(@movie) %>
    </h3>
    <p>
      <%= @movie.description %>
    </p>
  </div>
</section>